.navbar{
    background-color: black;
    @include sizes (100%, 70px);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    flex-wrap: wrap;
    z-index: 1;

    .titulo-navbar{
        font-size: 40px;
        color: $color-primary;
        width: 20%;
        margin: 0 0 0 20px;
        text-decoration: none;
        display: flex;
        align-self: center;
        background-color: black;
    }
    .list-navbar{
        list-style: none;
        color: white;
        padding: 0;
        margin: 0 20px 0 0;
        display: flex;
        align-items: center;
        background-color: #000000;
        flex-wrap: wrap;
    }

    .items-navbar{
        background-color: #000000;
        margin: 0 15px 0 0;

        & a{
            font-size: 15px;
            text-decoration: none;
            padding: 15px;
            color: white;
            border-bottom: 1px solid $color-primary;
            background-color: black;
        }
        & a:hover{
            color: #b7b21c;
        }
    }  
}
