.marcas-destacadas h3{
    font-weight: 400;
    text-align: center;
    color: black;
    padding: 20px;
    margin: 10px 0 50px 0;
    border: 1px solid black;
}
.marcas{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.marcas-destacadas img{
    @include sizes (120px, 120px);
    margin: 10px 50px 20px 50px;
    @include bordes (1px solid black, 20px);
}