@media only screen and (max-width: 500px) {
    .index-main {
        display: none;
    }

    .marcas-destacadas {
        display: none;
    }

    .navbar{
        .list-navbar{
            display: none;
        }
    }

    .distintas-secciones {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .titulos-pages{
        color: #b7b21c;
        font-size: 1.5rem;
        font-weight: 100;
        text-align: center;
        padding: 20px 0;
        margin: 90px 0 ;
        background-color: #fdf03d7c;
    }

    .vehiculos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .items-vehiculos {
        margin: 10px ;
        padding: 0;
    }

    .items-vehiculos h4 {
        font-size: 1.2rem;
        color: #000000;
        font-weight: 100;
        text-align: center;
        padding: 10px 0;
        margin: 20px 0;
    
    }

    .items-vehiculos img {
        max-width: 100%;
        height: auto;
        @include bordes (1px solid transparent, 7px);
    }

    .items-vehiculos ul {
        list-style-type: none;
        font-size: 1rem;
        line-height: 1.5;
    }

    .items-vehiculos a {
        font-size: 1.2rem;
        text-decoration: #b7b21c underline;
        color: black;
    }
}


@media only screen and (min-width: 501px) and (max-width: 960px) {
    .presentacion {
        padding: 30px;
        margin: 50px 0 50px 0;
        background-size: auto;

        .titulo {
            font-size: 4rem;
            color: #ffff00;
            text-align: center;
            font-weight: 600;
            margin-left: 0;
            margin-right: 0;
        }

        .slogan {
            display: none;
        }
    }

    .sub-titulos {
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        color: black;
        padding: 10px 0 10px 0;
        margin: 10px 0 50px 0;
        border: 1px solid black;
    }

    .video-auto-destacado {
        display: none;
    }

    .carousel {
        display: none;
    }

    .autos-destacados {
        display: flex;
        justify-content: center;
        padding: 30px 0 30px 0;
        margin: 5px 0 5px 0;

        .auto-destacado-three {
            display: none;
        }

        .auto-destacado-one {
            margin: 10px;

            & img {
                @include sizes (240px, 170px);
                margin: 0 10px 5px 10px;
                @include bordes (1px solid transparent, 7px);
            }
        }

        .auto-destacado-two {
            margin: 10px;

            & img {
                @include sizes (240px, 170px);
                margin: 0 10px 5px 10px;
                @include bordes (1px solid transparent, 7px);
            }
        }

    }

    .marcas-destacadas {
        display: none;

        & h3 {
            padding: 10px 0 10px 0;
        }

        & img {
            @include sizes (80px, 80px);
            margin: 5px 15px 10px 15px;
            @include bordes (1px solid black, 20px);
        }
    }

    .distintas-secciones {
        display: none;
    }

    .vehiculos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .items-vehiculos {
            margin: 20px 7px 0 7px;
            padding-left: 1px;

            & img {
                max-width: 100%;
                height: auto;
                @include bordes (1px solid transparent, 7px);
            }

            & ul {
                list-style-type: none;
                font-size: 1rem;
                line-height: 1.5;
            }

            & a {
                font-size: 1.2rem;
                text-decoration: #b7b21c underline;
                color: black;
            }

        }
    }

}