.titulo{
    font-size: 8rem;
    color: yellow;
    text-align: center; 
    font-weight: 600;  
}
.slogan{
    font-size: 5rem;
    color: black;
    text-decoration: none;
    font-weight: 200;
    border-top: 1px solid black;
    text-align: center;
}
.sub-titulos{
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    color: black;
    padding: 20px;
    margin: 10px 0 100px 0;
    border: 1px solid black;
}
.autos-destacados{
    display: flex;
    padding: 50px;
    margin: 100px 5px 60px 5px;

    h6{
        font-size: 1rem;
    }

    .auto-destacado-one{
        padding: 10px;
        margin:0 40px 40px 40px ;
        border-right: 1px solid black;

        & img{
            width: 350px;
            height: 240px;
            margin: 0 10px 5px 10px;
            border: 1px solid transparent;
            border-radius: 7px;
        }

        & ul{
            list-style-type: square;
        }
    }
    .auto-destacado-two{
        padding: 10px;
        margin: 0 40px 40px 40px;
        border-right: 1px solid black;

        & img{
            width: 350px;
            height: 240px;
            margin: 0 10px 5px 10px;
            border: 1px solid transparent;
            border-radius: 7px;
        }

        ul{
            list-style-type: square;
        }
    }

    .auto-destacado-three{
        padding: 10px;
        margin: 0 40px 40px 40px;

        & img{
            width: 350px;
            height: 240px;
            margin: 0 10px 5px 10px;
            border: 1px solid transparent;
            border-radius: 7px;
        }

        & ul{
            list-style-type: square;
        }
    }
}
.video-carrusel{
    display: flex;

    .video-auto-destacado{
        display: flex;
        margin: 0 0 10px 20px;

        .video-autos-destacados iframe{
            height: 30rem;
            width: 70rem;
            margin: 10px;
        }

        .video-auto-destacado-list{
            padding: 10px;
            margin-left: 30px;
            border-right: 1px solid black;
        }
    }
}
.carousel{
    padding: 0 100px 0 100px;
    z-index: 0;

    .carousel-item{
        width: 380px;
        height: 300px;
    }
}