.presentacion {
    padding: 180px;
    background-image: url("https://w.wallha.com/ws/7/bGO0P45D.jpg");
    background-size: 100%;
    background-position: 400px;
}

.titulo {
    font-size: 7rem;
    color: #ffff00;
    text-align: left;
    font-weight: 400;
}

.slogan {
    color: black;
    text-decoration: none;
    font-weight: 100;
    text-align: left;
}

.sub-titulos {
    font-weight: 400;
    text-align: center;
    color: black;
    padding: 20px;
    margin: 10px 0 100px 0;
    border: 1px solid black;
}

.autos-destacados {
    display: flex;
    padding: 50px 5px 60px 5px;
    margin: 50px 0 0 0;
    background-color: #fdf03d7c;


    .auto-destacado-one {
        padding: 10px;
        margin: 0 40px 40px 40px;
        border-right: 1px solid black;

        & img {
            @include sizes (350px, 240px);
            margin: 0 10px 5px 10px;
            @include bordes (1px solid transparent, 7px);
        }

        & ul {
            list-style-type: square;
        }
    }

    .auto-destacado-two {
        padding: 10px;
        margin: 0 40px 40px 40px;
        border-right: 1px solid black;

        & img {
            @include sizes (350px, 240px);
            margin: 0 10px 5px 10px;
            @include bordes (1px solid transparent, 7px);
        }

        ul {
            list-style-type: square;
        }
    }

    .auto-destacado-three {
        padding: 10px;
        margin: 0 40px 40px 40px;

        & img {
            @include sizes (350px, 240px);
            margin: 0 10px 5px 10px;
            @include bordes (1px solid transparent, 7px);
        }

        & ul {
            list-style-type: square;
        }
    }
}

.video-carrusel {
    display: flex;
    background-color: #fdf03d7c;
    padding: 40px;
    margin-top: 50px;

    .video-auto-destacado {
        display: flex;
        margin: 0 0 10px 20px;

        .video-autos-destacados iframe {
            @include sizes (70rem, 30rem);
            margin: 10px;
        }

        .video-auto-destacado-list {
            padding: 10px;
            margin-left: 30px;
            border-right: 1px solid black;
        }
    }
}

.carousel {
    padding: 0 100px 0 100px;
    z-index: 0;

    .carousel-item {
        @include sizes (380px, 300px);
    }
}