.distintas-secciones{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 30px 0;

    & h4{
        color: #b7b21c;
        font-size: 1.8rem;
        text-align: center;
    }

    & img{
        @include sizes (200px, 120px);
        @include bordes (1px solid transparent, 20px);
    }
}